* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.animation-box{
    width: 100px;
    height: 100px;
    align-items: center;
    background: #3DCCC7;
    /* 8. At least one CSS transition */
    transition-duration: 500ms;
    margin-left: 50%;
    overflow:unset;
    /* 8. At least one CSS transition */
    transition-timing-function: cubic-bezier(1,.11,0,2.25);
    
}

.animation-box:hover{
    /* 8. At least one CSS transition */
    /* The heading turns green and rotates 45 degrees while hovering */
    background: rgb(116, 218, 116);
     /* 8. At least one CSS transition */
    transform:rotate(45deg);
    /* 9. Use of a text or box shadow */
    /* Box shadow appears while hovering */
    box-shadow: 20px 20px;
}

.hero {
    width: 100%;
    height: 100vh;
    /* 7. Use of a gradient */
    background-image:linear-gradient(white,silver) ;
}

.row {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    flex-basis: 45%;
}

.slider {
    height: 80vh;
    display: flex;
}

/* 1.Use of CSS Grids on a container */
/* We are using 4 images. Two images per row and 2 images per column i.e. 2x2 grid */
#photoArray {
    display: grid;
    grid-row-end: .5em;
    grid-row-start: .5em;
    grid-template-areas:
        /* 2.Proper placement of items in CSS grid*/
        /* This represents the first row of our grid. */
        "photoOne photoTwo"
        /* This represents the second row of our grid. */
        "photoThree photoFour";
    grid-template-columns: 50% 50%;
    margin-right: 15%;
}

main{
    margin-left: 150px;
}

/* 6. CSS selectors (at least one attribute and one sibling selector) */
#photoArray>div:first-child>img {
    height: 30vh;
    /* Removes the white square background of the image and makes it transparent */
    mix-blend-mode: multiply;
    /* Adjusts the brightness of supplied image.Value above 100 increases the 
    brightness and value below hundred decreases the brightness */
    filter: brightness(120%);
} 
.imageInGrid>img{
    height: 30vh;
    mix-blend-mode: multiply;
    filter: brightness(120%);
}
#photoArray>div:last-child>img {
    height: 30vh;
}
.imageInGrid{
    cursor: pointer;
}
#photoArray>div:first-child {
    grid-area: photoOne;
    cursor: pointer;
}   
#photoArray>div:last-child {
    /* grid-area: photoFour;
    cursor: pointer; */
} 

#photoArray img{
    transition-duration: 500ms;
}

.preview img {
    height: 100%;
    mix-blend-mode: multiply;
    filter: brightness(120%);
}

p {
    margin-bottom: 20px;
}


.brand {
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}

h2 {
    font-size: 45px;
    color: rgb(88, 7, 120);
    margin-bottom: 20px;
    font-family: 'Silkscreen', cursive;
}

.rating {
    /* Use of flex box */
    display: flex;
    height: 15px;
}

.rating .fa {
    color: #008000;
}

.price {
    color: purple;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

input {
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

button {
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 150px;
}

button .fa {
    margin-right: 10px;
}

.related {
    width: 90%;
    margin: 0 auto 40px;
}

.related .row {
    width: 100%;
    height: auto;
}

.columns {
    flex-basis: 22%;
    height: 100%;
}

.items img {
    width: 100%;
}

.details {
    margin-top: 20px;
}

.details p {
    font-size: 14px;
    margin-bottom: 10px;
}

.details .rating {
    margin: 10px 0;
}

/* Before */

h1 {
    margin-top: 20px;
    text-align: center;
    color: rgb(88, 7, 120);
}

