*{
    font-family: "Gill Sans","Trebuchet MS";
}
body{
    margin: 0;
}
div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
h2,h3{
    text-align: center;
}
section{
    background-color: rgba(90, 90, 90, 0.342);
    box-shadow: 5px 5px 5px rgba(41,41,41,0.342);
    padding: 10px;
}
img{
    height: 200px;
    width: 100%;
}