#first{
min-height: 100px;
}
#second{
min-height: 200px;
}
#third{
min-height: 300px;
}

div{
    background-color: grey;
    border: 1px solid red;
    min-width: 20%;
    /* Item width reduces and becomes relative to the container */
}


