#first{
min-height: 100px;
}
#second{
min-height: 200px;
}
#third{
min-height: 300px;
}

div{
    background-color: grey;
    border: 1px solid red;
    /* This gives the orange colour for container */
    max-width: 20%;
    display: flex;
}

#container{
    background-color: orange;
    border: 2px solid black;
    min-width: 80%;
}
