* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
}

.row {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    flex-basis: 45%;
}

.slider {
    height: 80vh;
    display: flex;
}

/* 1.Use of CSS Grids on a container */
/* We are using 4 images. Two images per row and 2 images per column i.e. 2x2 grid */
#photoArray {
    display: grid;
    grid-row-end: .5em;
    grid-row-start: .5em;
    grid-template-areas:
        /* 2.Proper placement of items in CSS grid*/
        /* This represents the first row of our grid. */
        "photoOne photoTwo"
        /* This represents the second row of our grid. */
        "photoThree photoFour";
    grid-template-columns: 50% 50%;
    margin-right: 15%;
}

/* 6. CSS selectors (at least one attribute and one sibling selector) */
#photoArray>div:first-child>img {
    height: 30vh;
} 
.imageInGrid>img{
    height: 30vh;
}
#photoArray>div:last-child>img {
    height: 30vh;
}
.imageInGrid{
    cursor: pointer;
}
#photoArray>div:first-child {
    grid-area: photoOne;
    cursor: pointer;
}   
#photoArray>div:last-child {
    grid-area: photoFour;
    cursor: pointer;
    
} 

#photoArray img:hover {
    opacity: 1;
}

.preview img {
    height: 100%;
}

p {
    margin-bottom: 20px;
}


.brand {
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: rgb(88, 7, 120);
}

h2 {
    font-size: 45px;
    color: rgb(88, 7, 120);
    margin-bottom: 20px;
    font-family: 'Silkscreen', cursive;
}

.rating {
    display: flex;
    height: 15px;
}

.rating .fa {
    color: #008000;
}

.price {
    color: purple;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

input {
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

button {
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}

button .fa {
    margin-right: 10px;
}

.related {
    width: 90%;
    margin: 0 auto 40px;
}

.related .row {
    width: 100%;
    height: auto;
}

.columns {
    flex-basis: 22%;
    height: 100%;
}

.items img {
    width: 100%;
}

.details {
    margin-top: 20px;
}

.details p {
    font-size: 14px;
    margin-bottom: 10px;
}

.details .rating {
    margin: 10px 0;
}