/* Colors */
/* All the colours used in this Resume Assignment are found below at a single place
which makes things super convenient and clean. */

:root{
     --primary : #1a253f;
     --dark : #151A33;
     --secondary :#2b55cc;
     --info:#4d79f6;
     --ternary : #848db3;
     --pure : #eff2f9;
     --fade : #7081b9;
     --mild : #8997bd;
     --footer : #212A4A;
     --black :#060b1b;
     --twitter : #4ac7ec;
     --dribbble : #ff5da0;
     --success : #1ecab8;
     --danger : #f1646c;
     --dark-blue : #28365f;
}

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    /* We can access the colour from root by using var keyword. I tried with let and
    const instead and it didn't work. I guess this is a place where we have got to 
    use var. */
    background: var(--dark);
    /* As suggested by the name, it helps with smoothening out our fonts. */
    -webkit-font-smoothing:antialiased;
}

/* Styling our headings */
h1,h2,h3,h4,h5,h6{
    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px ;
    /* Top and bottom is 0. Right and Left is auto */
    margin: 0 auto;
}

nav{
    background:var(--primary);
    padding: 1.6rem 0 ;
}

/* Applying the flex box concepts we learnt in class */
nav .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .inner .logo{
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;

}
nav .inner .logo i{
    color: var(--info);
}

nav .inner button{
    background:var()
}
