*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}
h2{
    font-family: 'Silkscreen', cursive;
    color: black;
}
.hero{
    width:100%;
}
.row{
    width:90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-basis: 45%;
}
.slider{
    height: 80vh;
    display: flex;
}
.product img{
    height: 19vh;
    margin-bottom:9px;
    cursor: pointer;
    opacity: 0.6;
}
.preview img{
    height: 100%;
}