h1{
    color:#234383;
    font-family: sans-serif;
    font-size: 18pt;
}
h3{
    color:#234383;
    font-family: sans-serif;
    font-size: 11pt;
    display: inline;
}
span{
    font-family: sans-serif;
    font-size: 9.5pt;
}
.classFullNameTxtArea{
    display: block;
    width:268%; 
   
}
.classOtherNameTextInput{
display: block;
width: 100%;
}
.classDOBTextInput{
    display: block;
    width: 330%;
}
.classGenderIdentity{
    width: ;
}
