h1{
    color:#234383;
    font-family: sans-serif;
    font-size: 18pt;
}
h3{
    color:#234383;
    font-family: sans-serif;
    font-size: 11pt;
    display: inline;
}
span{
    font-family: sans-serif;
    font-size: 9.5pt;
}
.classFullNameTextInput{
    display: block;
    width:600%; 
   
}
.classOtherNameTextInput{
display: block;
width: 98%;
}
.classDOBTextInput{
    display: block;
    width: 142%;
}
.classGenderIdentity{
    width: 20px;
}
.classNonBinaryTextInput{
    width: 298%;
}
table{
    width: 100%;
}

