
#container{
    background-color: yellow;
    border: 1px solid orange;
    height:300px;
    width:400px
    display:flex;
}
#left{
    background-color: red;
    flex-basis:100px;

}
#right{
background-color: blue;
/* Use flex-basis instead of width.Its both same */
flex-basis:100px;
}